.modelsWrapper{
	width: 100%;
	background-color: #E2E2E2;
}
#filterLabel{
	margin-left: 2%;
	display: inline-block;
}

#loading{
	display: none;
	padding:3%;
}

#modelFilter{
	display: inline-block;
	padding: 10px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none; 
}

#modelFilter ul li{
	border:1px solid #F05F40;
	border-radius: 5px;
	padding: 4px;
	display: inline-block;	
}

#modelFilter ul li:hover{
	background-color: #F05F40;
	cursor: pointer;
}

footer{
	text-align: center;
}

.caption h4 a{
	font-family:  Merriweather,'Helvetica Neue',Arial,sans-serif; ;
}

.wellcomeModel {
	display: inline-block;
	height: 500px;
	width: 50%;
	background-color: black;
	margin-top: 50px;
	float: left;
	background-image: url(../img/modeli.jpg) ;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    -moz-width:55%;
}


.infoDiv {

	display: inline-block;
	background-color: black;
	width: 50%;
	height: 500px;
	margin-top: 50px;
	float: right;
	background-image: url(../img/modeli2.jpg);
	background-size: 100% 100%;
    background-repeat: no-repeat;
	padding-top: 8%;
	text-align: center;
	-moz-width:50%;
}

.komentariModelaDiv{

	width: 70%;
	-moz-width:70%;

}

.komentariIPitanja {

	width: 100%;
	display: table;
}

#ostaviKomentarPrikazi, #ostaviKomentarSakrij {

	height: 20px;
	padding: 0;
}


.pitanjaModelaDiv, .komentariModelaDiv {
    min-height: 210px;
    padding-bottom: 20px;
    padding-right: 4%;
    padding-left: 4%;
    display: table-cell;
    height: auto;
    overflow: hidden;
}

.pitanjaModelaDiv{

	width: 30%;
	-moz-width:30%;

}

.pregledModel {
	display: inline-block;
	height: 300px;
	width: 70%;
	//background-color: #000000;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	float: left;
    -moz-width:55%;
}



.infoModelDiv {

	display: inline-block;
	width: 30%;
	height: 300px;
	float: right;
	padding-left: 3%;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	text-align: center;
	-moz-width:50%;
}

.infoIModel{

padding: 3%;
}

.infoDiv button {
	border-radius: 300px;
	border-color: transparent;
}

.header-sadrzaj {

	background-color: #ee4b28;
}

.modeli {
	margin-left: auto;
	margin-right: auto;
	width:100%;
	padding-top: 8px;
	background-color: #E2E2E2; 
}

.ispod  {

	width: 100%;
	margin-top: 10px;
	border-color: #ee4b28;
}

.below  {

	width: 100%;
	border-color: #ee4b28;
	padding: 0;
	margin:  0;

}

.unosNovog{

  width: 20%;
  display: inline-block;
  float: left;
  margin-left: 10%;
  margin-top: 2%;
}

.listaKorisnika {

  display: inline-block;
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  text-align: left !important;
  font-size: 15px;

}

.marginaUnos {

	margin-top: 5% ;
}


#repliciraj {

	width: 13%;
	height: 5%;
	padding: 0;
	text-align: center;
}


.tdp_repliciraj{

	width: 13% !important;
	height: 5% !important;
	padding: 0 !important;
	text-align: center !important;
}


#notifikacije{
	position: absolute;
	top:10%;
	right: 2%;
	z-index: 10000;
	width:20%;
}

.btn-pr-sirina {

	width: 25%!important;
}

.labelPrikaz {

	text-decoration: none;
	font-weight: none !important;
}


#signup {

	margin-top: 10px;
}

#login {

	background-color: #A7DBD8;
	margin-bottom: 10px;
}

#tdp_loginModal {

	min-height: 250px !important;
	max-height: 500px;
}

#tdp_errorLoginStyle
{
	color: red;
	font-size: 12px;
}

#tdp_uploadModal {

	height: 450px !important;
}

.facebookButton{
	color: #3B5998;
}

.googleButton{
	color: #DD4B39;
}

.facebookButton span {
	font-size: 30px;
}

.googleButton span{
	font-size: 30px;
}

#social-group{
	margin-top: 30px;
}

.tdp_externalLogins {

	display:inline-block;
	text-align:center;
}



#dugmeDodaj {

	margin: 10px 0 10px 0;
	border-radius: 5px;
	height: 30px ;
	padding: 5px;
}


.unosModelaPodaci {

	float: left;
	width: 50%;


}

.tdp_form_group_upload {

	margin-top: 5%;
}

.slikaUpload{


}

.objekatUpload {

	margin-top: 10%;
}

.nazivUpload {
	margin-top: 10%;
}

.mogucnostKomentara {
	margin-top: 28%;
}

/*.loginTekst {

	
}

.signUptekst {
	margin-top: 10px;
}*/

.infoDiv p {

	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
}



#mainNav {

	background-color: #ee4b28;

}

#navDiv {
	height: 50px;
}

.header-main {

	/*background-color:#A7DBD8;*/
	background-color: #E2E2E2;
	height: 100%;
}

@font-face {
    font-family: customfont;
    src: url(../fonts/orange.ttf);
}


.header-footer {

	text-align: center;
	color:black;
	min-height: 71px;


}


.header-footer h2 {

	
	font-family:  Merriweather,'Helvetica Neue',Arial,sans-serif; ;

}



.separation {

		background-color: #E2E2E2;
		text-align: center;
		height: 50px;
		padding-top: 1%;

}

.homeModelImg {

	max-width: 320px;
	max-height: 150px;
}

.row {

	padding-left: 10px;
}

#moreModels {

	background-color:  #A7DBD8;
	border-radius: 2px;
}


.exploreMore {

	text-align: center;
	margin-top: 20px;
}


.modal-body {

	height: 300px;
	width: 300px;
}

.textValidacija {

	color:#f62a2a;
	max-height: 0px;
	font-size: 11px;
	float: left;

}

.error {

	color: red;
}



.tdp_form_group {
	/*margin-bottom: 0 !important;*/
}

.username {
	
	text-transform: capitalize !important;
	font-size: 15px !important;

}
.tdp_button_margin {

	margin-top: 20% !important;
}

.tdp_opis {

	margin-bottom: 0;
}

#tdp_border {

	border-left :1px solid white !important;
	
	

}

.3dp-img-size {

		height: 10px;
		width: 10px;
}



@media only screen and (max-width: 1080px) {


.infoDiv {

	display:list-item;
}

.infoModelDiv {

	display:list-item;

}

.wellcomeModel {

	display: list-item;
}

.pregledModel {

	display: list-item;
}

.header-footer h2 {

	font-size: 20px;
}

}


@media only screen and (max-width: 600px) {

	.wellcomeModel {
		display: none;
	}

	.pregledModel {
		display: none;
	}

	.infoDiv {

		width: 100%;
	}

	.infoModelDiv {

		width: 100%;
	}


}

.uploadedAgo{

}

