:root{
  --charColor: #D5D5D5;
  --orangeTheme: #F05F40;
  --tableCaptionColor: #E2E2E2;
}

body{
	background-color: var(--tableCaptionColor);
}

.facebookButton{
	color: #3B5998;
}

.googleButton{
	color: #DD4B39;
}

.facebookButton span {
	font-size: 30px;
}

.googleButton span{
	font-size: 30px;
}

#social-group{
	margin-top: 30px;
}

#signup{
	margin-top: -30px;
}

